/* Estilos para dispositivos móveis (largura máxima de 900px) */
@media (max-width: 900px) {
    .navbar-toggler {
        margin-left: 600px;
    }

    .pesquisa input {
        margin: 12px;
        width: 700px;
    }

    .pesquisaDiv {
        width: 700px;
    }

    [data-tooltip]:hover::after {
        transform: translateX(-400%) translateY(-10%);
    }
}

/* Estilos para dispositivos móveis (largura máxima de 900px) */
@media (max-width: 700px) {
    .navbar-toggler {
        margin-left: 10px;
    }

    .pesquisa input {
        margin: 0px;
        width: 599px;
    }
}