@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: #fceabb !important;
}

.navbar {
    background-color: #000;
}

.navbar .nav-link {
    color: #fff;
    font-weight: bold;
}

.navbar .nav-link:hover {
    color: #fceabb;
    font-weight: bold;
}

.form-control {
    font-size: 20px;
}

#btn {
    color: #fff;
    border-color: #fceabb;
    font-weight: bold;
    font-size: 20px;
}

#btn:hover {
    background-color: #fceabb;
    color: #000;
    font-weight: bold;
}

/*dropdown-menu*/
.collapse ul {
 margin: 0px 12px 0px 12px;
 padding: 10px;
 background-color: #000;
}

.direcionamento  {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.direcionamento-link {
    text-decoration: none;
    background-color: black;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    width: 100px;
}

.nav-item a:hover {
    color: #fceabb;
}

.button {
    color: #fff;
}

/*Conteudo principal*/
.conteudo-secundario-home {
    margin: 5% 15% 2% 15%;
}

/*content card*/
.card-title {
    font-family: "Playwrite PL", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/*titulo card*/
.card-title {
    font-size: 39px;
    font-weight: bold;
}

.card-text  {
    font-size: 20px;
}

.subtitulo {
    font-size: 24px;
}

/*paragrafos*/
.conteudo-paragrafoSecundario {
    margin: 30px 0px 0px 0px;
}

.home-subtitulo, .titulo-principal {
    margin-bottom: 2%;
}

.conteudo-paragrafoTerceiro {
    margin: 30px 0px 0px 0px;
}

/*dropdown-menu*/
.direcionamento {
    text-decoration: none;
    padding: 10px;
}

/*footer*/
.footer-pai {
    background-color: #000;
    color: #fff;
    font-size: 20px;
}

.paragrafo {
    margin-top: 30px;
}

.formaDePagamento-titulo, .atendimento-titulo {
    font-size: 20px;
}

.footerFilho > div {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-formaDePagamento img {
    margin: 5px;
}

.clicavel {
    font-size: 20px;
}

.clicavel:hover {
    cursor: pointer;
}

.footerDesenvolvido {
    word-break: break-word;
    margin-bottom: 10px;
}
