.navbar {
    background-color: black;
}

.navbar .nav-link {
    color: #fff;
    font-weight: bold;
}

.navbar .nav-link:hover {
    color: rgb(216, 113, 216);
    font-weight: bold;
}

#btn {
    color: #fff;
    border-color: rgb(216, 113, 216);
}

#btn:hover {
    background-color: rgb(216, 113, 216);
}

/*Conteudo principal*/
.conteudo-secundario-home {
    margin: 5% 15% 2% 15%;
}

/*titulo card*/
.card-title {
    font-size: 30px;
    font-weight: bold;
}

.card-text  {
    font-size: 14px;
}

.subtitulo {
    font-size: 20px;
}

/*paragrafos*/
.conteudo-paragrafoSecundario {
    margin: 30px 0px 0px 0px;
}

.home-subtitulo, .titulo-principal {
    margin-bottom: 2%;
}

.conteudo-paragrafoTerceiro {
    margin: 30px 0px 0px 0px;
}

/*footer*/
.footer-pai {
    background-color: #000;
    color: #fff;
}

.footerFilho > div {
    flex: 1; 
    margin: 10px; 
    min-width: 200px;
}

.footer-formaDePagamento img {
    margin: 5px;
}

.clicavel:hover {
    cursor: pointer; 
}

.footerDesenvolvido {
    word-break: break-word;
    margin-bottom: 10px;
}
