.navbar {
    background-color: black;
}

.navbar .nav-link {
    color: #fff;
    font-weight: bold;
}

.navbar .nav-link:hover {
    color: rgb(216, 113, 216);
    font-weight: bold;
}

#btn {
    color: #fff;
    border-color: rgb(216, 113, 216);
}

#btn:hover {
    background-color: rgb(216, 113, 216);
}

/*section content*/
.custom-size {
    width: 10px;
    height: 10px;
}

/*footer*/
.footer-pai {
    background-color: #000;
    color: #fff;
}