.favoritos-secao {
    /* background-color: yellow; */
    /* font-family: "Playwrite PL", cursive; */
    text-align: center;
    margin: 20px;
    padding: 20px;
    height: 700px;
    width: 97%;
    align-items: center;
    /* margin-top: 200px; */

    border: 1px solid rgb(85, 58, 58);
    border-radius: 20px;
}

.favoritos_titulo {
    text-decoration: underline;
}