body {
    background-color: #fceabb !important;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.titulo {
    font-family: "Playwrite PL", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.conteudoHistoria {
    margin-top: 10%;
}

#footer-pai {
    margin-top: 20%;
}