.formLogin {
    margin: 4%;
}



.formLoginMainMaster {
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 3px;
    border: 3px solid #000;
    border-radius: 20px;
}

#exampleInputEmail1, #exampleInputPassword1 {
    border-radius: 50px;
}

#botaoLogin, #botaoCadastro {
    background-color: #000;
    color: #fff;
}

#botaoLogin:hover {
    background-color: rgb(216, 113, 216);
    color: #fff;
}

#botaoCadastro:hover {
    background-color: rgb(216, 113, 216);
    color: #fff;
}

#footer-pai {
    margin-top: 20%;
}